/* #################################### basket left navigation ###################################### */
#basket_left {
  width: 181px;
  float: left;
}

/* ################# start_dotline #################### */
#basket_left #start_dotline {
  height: 81px;
  width: 181px;
  background:
    url(../images/spacer/dotline_horizontal.gif)
    repeat-x bottom;
}

#basket_left #start_dotline img {
  padding-top: 45px;
}

/* ################# step #################### */
#basket_left #step {
  height: 270px;
  width: 181px;
  /*background:
    url(../images/spacer/dotline_horizontal.gif)
    repeat-x bottom;*/
}

#basket_left #step_nobg {
  height: 270px;
  width: 181px;
}

/* ################# help #################### */
#basket_left #help {
  height: 106px;
  width: 181px;
  background:
    url(../images/spacer/dotline_horizontal.gif)
    repeat-x bottom;
}

#basket_left #help h2 {
  font-size: 21px;
  color: #3a98d4;
  padding-top: 25px;
}

#basket_left #help p {
  padding-top: 12px;
}

#basket_left #help a {
  color: #3a98d4;
  text-decoration: underline;
}

/* ################# basket #################### */
#checkout {
  margin-left:196px;
  width:769px;
}

* html #checkout {
  margin-left: 192px;
}

#checkout a {
  text-decoration: underline;
}

#checkout #basket {
  float: left;
  padding-bottom: 30px;
}

#checkout #basket ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  clear: left;
}

#checkout #basket li {
  float: left;
}

/* ######## headline ######### */
#checkout #headline {
  height: 80px;
}

#checkout #headline img {
  padding-top: 36px;
  float: left;
}

#checkout #headline h1 {
  padding-top: 27px;
  padding-left: 45px;
  font-family: Century Gothic, Arial;
  font-size: 36px;
  color: #3259a0;
}

/* ######## info_empty ######### */
#checkout #basket #info_empty {
  width: 568px;
  height: 50px;
  border: 1px solid #c7e1f7;
  float: left;
}

#checkout #basket #info_empty p {
  font-size: 13px;
  color: #3259a0;
  padding-top: 16px;
  padding-left: 15px;
}

#checkout #basket .error_box {
  width: 600px;
  border: 1px solid #E43524;
  padding: 15px;
  margin-bottom: 15px;
  color: #E43524;
}

/* ######## STEP 1 ######### */
#checkout #item_head {
  height: 28px;
  width: 769px;
}

#checkout #item_head li {
  font-size: 16px;
  color: #3259a0;
  background-color: #c7e1f7;
  height: 28px;
  border-right: 2px solid #ffffff;
}

#checkout #item_head li p {
  padding-top: 3px;
}

#checkout #item_block {
	height:1%;
	min-height: 146px;
	height: auto !important;
	height: 146px;
	background: url(../images/spacer/dotline_horizontal.gif) repeat-x bottom;
}

#checkout #item_block .picture {
  width: 104px;
  height: 145px;
  float: left;
  text-align: center;
}

#checkout #item_block .picture img {
  margin-top: 20px;
  border: 1px solid #999999;
}

#checkout #item_block .info {
  width: 287px;
  float: left;
}

#checkout #item_block .info .text {
  padding-left: 5px;
  padding-top: 20px;
}

#checkout #item_block .info .text a {
  color: #000000;
  font-weight: bold;
}

#checkout #item_block .info .buttons {
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 13px;
}

#checkout #item_block .amount {
  height: 145px;
  width: 119px;
  float: left;
}

#checkout #item_block .amount .text {
  padding-top: 20px;
  padding-left: 20px;
}

#checkout #item_block .price {
  height: 145px;
  width: 258px;
  float: left;
}

#checkout #item_block .price .text {
  padding-top: 20px;
  padding-right: 180px;
  text-align:right;
  font-weight: bold;
  color: #3259a0;
}

#checkout #item_sum {
	margin-top:19px;
  	background: url(../images/spacer/doubleline_horizontal.gif) repeat-x bottom;
}
#checkout #item_sum .pad {
	padding:0px 0px 19px 0px;
}

#checkout #item_sum .text {
  width: 411px;
  text-align: right;
  font-size: 13px;
  float: left;
}

#checkout #item_sum .text a {
  color: #3a98d4;
  font-size: 12px;
}

#checkout #item_sum .text .discount,
#checkout #item_sum .text .voucherCredit {
	font-size: 12px;
	color: #F59D32;
}

#checkout #item_sum .text h3 {
  font-weight: bold;
  font-size: 16px;
  padding-top: 12px;
}

#checkout #item_sum .prices {
  width: 350px;
  text-align:right;
  font-size: 13px;
  float: right;
  color: #3259a0;
}

#checkout #item_sum .prices .pad {
	padding: 0px 180px 0px 0px;
}

#checkout #item_sum .prices #value {
  font-weight: bold;
}

#checkout #item_sum .prices #addCost {
  font-size: 12px;
}

#checkout #item_sum .prices .discount,
#checkout #item_sum .prices .voucherCredit {
	font-size: 12px;
	color: #F59D32;
}

#checkout #item_sum .prices #sum {
  font-weight: bold;
  font-size: 16px;
  padding-top: 12px;
}

#checkout #to_checkout {
}

#checkout #to_checkout .button {
  padding-left: 437px;
  padding-top: 15px;
}

/* ######## STEP 2 ######### */
#checkout #header {
  height: 25px;
  width: 749px;
  background-color: #c7e1f7;
  font-size: 16px;
  color: #3259a0;
  padding-top: 3px;
  padding-left: 20px;
  margin-top:0px;
}

#checkout #step_back {
  float: left;
  margin-top: 14px;
  margin-bottom: 15px;
}

#checkout #submit {
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 210px;
}

#checkout #submit_completion {
  float: right;
  margin-top: 15px;
}

#checkout #yourdata {
  float: left;
  padding-bottom: 30px;
}

#checkout #yourdata .error_box {
	border:1px solid #E43524;
	color:#E43524;
	margin-bottom:15px;
	width:568px;
	clear:left;
  z-index:1;
}

#checkout #yourdata .error_box .padding {
  padding: 15px;
}

#checkout #yourdata #headline2 {
  font-size:36px;
  height:79px;
}

#checkout #yourdata #headline2 .text{
	color:#3259A0;
	font-family:Century Gothic,Arial;
	font-size:36px;
	padding-top:28px;
}

#checkout #yourdata #header {
  clear:left;
  z-index:1;
  margin-top:0px;
}

#checkout #yourdata #new_customer {
  height: 58px;
}

#checkout #yourdata #new_customer .text {
  padding-top: 20px;
  padding-left: 20px;
  float: left;
}

#checkout #yourdata #new_customer .button {
  padding-top: 15px;
  padding-right: 200px;
  float: right;
}

#checkout #yourdata #login {
  width: 769px;
  height: 249px;
  background: url(../images/spacer/dotline_horizontal.gif) repeat-x bottom;
  border: 1px solid transparent;
}

/* hack for IE6 */
* html #checkout #yourdata #login {
  border: 0px;
}

#checkout #yourdata #login #login_form {
  display: inline;
}

#checkout #yourdata #login #box {
  width: 568px;
  height: 69px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #c7e1f7;
}

#checkout #yourdata #login #box .email {
  width: 213px;
  padding-top: 10px;
  padding-left: 20px;
  float: left;
}

#checkout #yourdata #login #box input {
  margin-top: 5px;
}

#checkout #yourdata #login #box .password {
  width: 99px;
  padding-top: 10px;
  padding-left: 20px;
  float: left;
}

#checkout #yourdata #login #box .forgotten_password {
  float: left;
  padding-top: 32px;
  padding-left: 20px;
}

#checkout #yourdata #login #box .forgotten_password a {
  color: #3a98d4;
}

#checkout #yourdata #login #box .customer_id {
  width: 140px;
  padding-top: 10px;
  padding-left: 20px;
  float: left;
}

#checkout #yourdata #login #box input {
  margin-top: 5px;
}

#checkout #yourdata #login #box .birthday {
  width: 170px;
  padding-top: 10px;
  padding-left: 31px;
  float: left;
  font-weight:bold;
}

#checkout #yourdata #login #box .forgotten_id {
  float: left;
  padding-top: 32px;
  padding-left: 12px;
}

#checkout #yourdata #login #box .forgotten_id a {
  color: #3a98d4;
}

#checkout #yourdata #login #or {
  height: 29px;
}

#checkout #yourdata #login #or .image {
  padding-left: 162px;
  line-height: 0px;
  font-size: 0px;
}

#checkout #yourdata #login #button {
  width: 568px;
  padding-top: 7px;
  text-align: right;
}

/* ####### forgotten password ######## */
#checkout #forgotten {
  width: 525px;
  height: 560px;
  padding: 15px;
  font-family: arial;
  font-size: 13px;
  color: #212121;
  border: 2px solid #da2031;
}

#checkout #forgotten #content {
  height: 425px;
  border: 1px solid #c4c4c4;
  padding: 15px;
  padding-bottom: 0px;
  font-size: 13px;
  line-height: 17px;
}

#checkout #forgotten #content .text {
  margin-top: 10px;
  width: 414px;
}

#checkout #forgotten #content .box {
  margin-top: 30px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 448px;
  border: 1px solid #c7e1f7;
}

#checkout #forgotten #content .box .email_forgotten {
  margin-top: 20px;
  display: none;
  margin-bottom: 10px;
}

#checkout #forgotten #content .link {
  margin-top: 15px;
}

#checkout #forgotten #content .box input {
  margin-top: 8px;
}

#checkout #forgotten #content .box p {
  margin-top: 12px;
  color: #3a98d4;
}

#checkout #forgotten #content .box a {
  text-decoration: underline;
  color: #3a98d4;
  cursor: pointer;
}

#checkout #forgotten #content ul {
  margin: 0px;
  margin-top: 15px;
  padding-left: 15px;
}

#checkout #forgotten #content li {
  list-style-image:
    url(../images/checkout/shopcart/bullet.gif);
  padding-left: 8px;
  padding-bottom: 15px;
}

/* ######## completion ######### */
#checkout #completion {
  float: left;
}

#checkout #completion #header {
  clear:left;
  z-index: 1;
}

#checkout #completion .error_box {
  float: left;
  width: 550px;
  height: 30px;
  border: 1px solid #E43524;
  padding: 15px;
  margin-bottom: 25px;
  color: #E43524;
}

#checkout #completion #login {
  width: 570px;
  border: 1px solid transparent;
}

/* hack for IE6 */
* html #checkout #completion #login {
  border: 0px;
}

#checkout #completion #login .text {
  width: 565px;
  padding: 15px;
  padding-left: 20px;
  font-size: 13px;
  line-height: 17px;
}

#checkout #completion #login #login_form {
  display: inline;
}

#checkout #completion #login #box {
  width: 568px;
  height: 69px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #c7e1f7;
}

#checkout #completion #login #box .email {
  width: 213px;
  padding-top: 10px;
  padding-left: 20px;
  float: left;
}

#checkout #completion #login #box input {
  margin-top: 5px;
}

#checkout #completion #login #box input.error {
  border: 2px solid #E43524;
}

#checkout #completion #login #box .password {
  width: 99px;
  padding-top: 10px;
  padding-left: 30px;
  float: left;
}

#checkout #completion #login #box .forgotten_password {
  float: left;
  padding-top: 32px;
  padding-left: 20px;
}

#checkout #completion #login #step_back {
  float: left;
  margin-top: 10px;
}

#checkout #completion #login #submit {
  float: right;
  margin-top: 10px;
}

/* ###### registration ###### */
#checkout #registration div,#checkout #registration span,#checkout #registration h1,#checkout #registration h2,#checkout #registration h3,#checkout #registration h4,#checkout #registration h5,#checkout #registration h6,#checkout #registration p,#checkout #registration a,#checkout #registration img,#checkout #registration ul,#checkout #registration ol,#checkout #registration li
  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

#checkout #headline_item {
	height:auto;
	margin-left:0px;
	margin-top:19px;
}
#checkout #headline_item h1 {
	font-family:Century Gothic,Arial,sans-serif;
	font-size:36px;
	font-weight:normal;
	margin:0;
	padding:0;
}

#checkout #registration {
  width: 769px;
  padding: 15px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: arial;
  font-size: 13px;
  color: #212121;
  float: left;
}

#checkout .header #headline {
	margin-left: 15px;
}

#checkout #registration a,a:link {
  color: #212121;
  text-decoration: none;
}

#checkout #registration a:hover {
  color: #212121;
  text-decoration: none;
}

#checkout #registration a:visited {
  color: #212121;
  text-decoration: none;
}

#checkout #registration a:active {
  color: #212121;
  text-decoration: none;
}

/* ######## headline ######### */
#checkout #headline_conf {
  height: 130px;
}

#checkout #headline_conf img {
  padding-top: 36px;
  float: left;
}

#checkout #headline_conf h1 {
  padding-top: 27px;
  padding-left: 45px;
  font-family: Century Gothic, Arial;
  font-size: 36px;
  color: #3259a0;
}

#checkout #registration .spacer {
  background: url(../images/spacer/dotline_horizontal.gif) repeat-x center left;
  height: 35px;
  line-height: 35px;
  margin-bottom: 9px;
}

/*formular*/
#checkout #registration .formdescription {
  color: #999999;
  margin-bottom: 15px;
}

#checkout #registration .formfield {
  margin-bottom: 15px;
  clear: left;
  position: relative;
}

#checkout #registration .formfield label {
  width: 130px;
  display: block;
  float: left;
  clear: left;
}

#checkout #registration .formfield label.label-long {
  cursor: pointer;
  width: 510px;
  display: block;
  float: none;
  clear: none;
  margin-left: 35px;
  margin-top: 4px;
}

#checkout #registration .formfield input.input-text-short {
  width: 35px;
}

#checkout #registration .formfield input.input-text-middle {
  width: 60px;
}

#checkout #registration .formfield input.input-text-long1 {
  width: 140px;
}

#checkout #registration .formfield input.input-text-long2 {
  width: 180px;
}

#checkout #registration .formfield input.error {
  border: 2px solid #E43524;
}

#checkout #registration .formfield label.error {
  color: #E43524;
  font-weight: bold;
}

#checkout #registration .formfield input.input-checkbox {
  float: left;
  clear: left;
}

#checkout #registration .formfield span.error {
  color: #E43524;
  font-weight: bold;
}

#checkout #registration div.error {
  color: #E43524;
  font-weight: bold;
}

#checkout #registration .formfield input.input-text-short1 {
	  width: 20px;
}

#checkout #registration .formfield input.input-text-middle1 {
	  width: 45px;
}

#checkout #registration .formfield input.input-text-middle3 {
  width: 70px;
}

#checkout #registration  .float-left {
	        float: left;
}

#checkout #registration  div.note {
  position: absolute;
  top: 0px;
  right: 10px;
	  margin: -4px 0 -8px 15px;
	  border: 1px solid #395374;
	  width: 400px;
	  color: #E43524;
	  background-color: #fff;
	  font-weight: normal;
}

#checkout #registration  div.small {
   width: 200px !important;
}

*HTML #checkout #registration  div.note {
	  margin: 0;
}

*+HTML #checkout #registration  div.note {
  margin: 0;
}
#checkout #registration  div.note H1{
	  margin: 3px 3px 3px 3px;
	  padding: 0 0 0 20px;
	  font-size: 13px;
	  background: url(../images/global/icon_ausrufezeichen_db1d1d.gif) left 4px no-repeat;
}
#checkout #registration  div.note P {
	  margin: 5px 10px 10px 10px;
	  font-size: 13px;
}

#checkout #registration .formbuttons {
  width: 600px;
  margin-bottom: 50px;
}

#checkout #registration .formbuttons .float-left {
  float: left;
}

#checkout #registration .formbuttons .float-right {
  float: right;
}

#checkout #registration .error_box {
  width: 600px;
  border: 1px solid #E43524;
  padding: 15px;
  margin-bottom: 15px;
  color: #E43524;
}

/* ###### STEP 3 ######*/
#checkout #delivery_address {
  float: left;
  padding-bottom: 30px;
}

#checkout #delivery_address #header {
	clear:left;
	z-index:1;
}

#checkout #delivery_address #choose {
  padding-bottom: 40px;
  background: url(../images/spacer/dotline_horizontal.gif) repeat-x bottom;
}

#checkout #delivery_address #delivery_address_form {
  display: inline;
}

#checkout #delivery_address #choose .radio {
  float: left;
}

#checkout #delivery_address #choose .text {
  float: left;
  padding-left: 3px;
  padding-top: 1px;
}

#checkout #delivery_address #choose #default {
  float: left;
  width: 237px;
  padding-left: 15px;
  padding-top: 15px;
}

#checkout #delivery_address #choose #or_seperator {
  float: left;
  padding-top: 40px;
}

#checkout #delivery_address #choose #alternate {
  float: left;
  padding-left: 40px;
  padding-top: 15px;
}

#checkout #submit {
  float: right;
  margin-top: 15px;
  padding-right: 210px;
}

#checkout #delivery_address #alternate_box {
  display: none;
  background: url(../images/spacer/dotline_horizontal.gif) repeat-x bottom;
}

#checkout #delivery_address #alternate_box .hint {
  width: 548px;
  /*height: 38px;*/
  border: 1px solid #e33423;
  padding: 10px;
  margin-top: 25px;
  color: #e33423;
}

#checkout #delivery_address #alternate_box .formula {
  padding: 20px;
}

#checkout #delivery_address #alternate_box .formdescription {
  color: #999999;
  margin-bottom: 15px;
}

#checkout #delivery_address #alternate_box .formfield {
  margin-bottom: 15px;
}

#checkout #delivery_address #alternate_box .formfield label {
  cursor: pointer;
  width: 130px;
  display: block;
  float: left;
  clear: left;
  margin-left: 10px;
}

#checkout #delivery_address #alternate_box .formfield input.input-text-long1
  {
  width: 140px;
}

#checkout #delivery_address #alternate_box .formfield input.input-text-long2
  {
  width: 180px;
}

#checkout #delivery_address #alternate_box .formfield input.error {
  border: 2px solid #E43524;
}

#checkout #delivery_address #alternate_box .formfield label.error {
  color: #E43524;
  font-weight: bold;
}

/* ###### STEP 4 ######*/
#checkout #delivery_service {
  width: 769px;
  padding-bottom: 30px;
  float: left;
}

#checkout #delivery_service #header {
  clear:left;
  z-index:1;
}

#checkout #delivery_service #delivery_service_form {
  display:inline;
}

#checkout #delivery_service .hint {
  width: 548px;
  height: 38px;
  border: 1px solid #e33423;
  padding: 10px;
  margin-top: 25px;
  color: #e33423;
}

#checkout #delivery_service .notice {
  border: 1px solid #3259A0;;
  padding: 10px;
  margin-top: 25px;
  color: #3259A0;
}

#checkout #delivery_service #mailtype {
  width: 769px;
  height: 67px;
  background: url(../images/spacer/dotline_horizontal.gif) repeat-x bottom;
}

#checkout #delivery_service #mailtype .radio {
  float: left;
  padding-top: 15px;
}

#checkout #delivery_service #mailtype .text {
  float: left;
  padding-top: 15px;
  padding-left: 15px;
}

#checkout #delivery_service #mailtype .text .error {
  color: #e33423;
}

#checkout #delivery_service #mailtype .button {
  float: right;
  padding-top: 22px;
  padding-right: 20px;
}

/* ###### STEP 5 ###### */
#checkout #payment {
  float: left;
  width: 769px;
}

#checkout #payment #header {
  clear:left;
  z-index:1;
}

#checkout #payment .error_box {
  float: left;
  width: 550px;
  height: 30px;
  border: 1px solid #E43524;
  padding: 15px;
  margin-bottom: 25px;
  color: #E43524;
}

#checkout #payment .payment_type {
  width: 754px;
  padding-top: 15px;
  padding-left: 15px;
}

#checkout #payment .hspacer {
	width: 754px;
	height: 10px;
	padding-left: 15px;
	background: url(../images/spacer/dotline_horizontal.gif) repeat-x bottom;
}

#checkout #payment .payment_type .box {
  float: left;
  margin-right: 20px;
}

#checkout #payment .payment_type .box select,#checkout #payment .payment_type .box input
  {
  margin-top: 5px;
}

#checkout #payment .payment_type .box input.error {
  border: 2px solid #E43524;
}

/* ###### STEP 6 ###### */
#checkout #validation div,#checkout #validation span,#checkout #validation h1,#checkout #validation h2,#checkout #validation h3,#checkout #validation h4,#checkout #validation h5,#checkout #validation h6,#checkout #validation p,#checkout #validation a,#checkout #validation img,#checkout #validation ul,#checkout #validation ol,#checkout #validation li
  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

#checkout #validation {
  float: left;
  width: 769px;
  padding-bottom:40px;
}

#checkout #validation a,a:link {
  color: #212121;
  text-decoration: none;
}

#checkout #validation a:hover {
  color: #212121;
  text-decoration: none;
}

#checkout #validation a:visited {
  color: #212121;
  text-decoration: none;
}

#checkout #validation a:active {
  color: #212121;
  text-decoration: none;
}

/* ######## headline ######### */
#checkout #validation #headline img {
  padding-top: 36px;
  float: left;
}

#checkout #validation #headline h1 {
  padding-top: 27px;
  padding-left: 45px;
  font-family: Century Gothic, Arial;
  font-size: 36px;
  color: #3259a0;
}

#checkout #validation .clear {
  clear: both;
}

#checkout #validation .spacer {
  background: url(../images/spacer/dotline_horizontal.gif) repeat-x top left;
  height: 18px;
  line-height: 35px;
  margin-bottom: 9px;
}

#checkout #validation .spacer2 {
  background: url(../images/spacer/doubleline_horizontal.gif) repeat-x center
    left;
  height: 25px;
  line-height: 25px;
  margin-bottom: 9px;
}

#checkout #validation ul.struct1 {
  list-style: none;
  float: left;
  height: 150px;
}

#checkout #validation ul.struct1 li {
  width: 191px;
  margin-right: 2px;
  float: left;
}

#checkout #validation ul.struct1 li.nomargin {
  margin: 0;
}

#checkout #validation ul.struct1 h2 {
  background: #c7e1f7;
  padding: 2px 0;
  color: #3259a0;
  font-size: 16px;
  line-height: 23px;
}

#checkout #validation ul.struct1 h2 span {
  padding-left: 15px;
}

#checkout #validation ul.struct1 .element {
	height:60px;
  padding-left: 15px;
  margin-top: 15px;
}

#checkout #validation ul.struct1 img {
  padding-left: 15px;
  margin-top: 10px;
}

#checkout #validation ul.struct2 {
  list-style: none;
}

#checkout #validation ul.struct2 li {
  margin-right: 2px;
  float: left;
}

#checkout #validation ul.struct2 li.nomargin {
  margin: 0;
}

#checkout #validation ul.struct2 h2 {
  background: #c7e1f7;
  padding: 2px 0;
  color: #3259a0;
  font-size: 16px;
  line-height: 23px;
}

#checkout #validation ul.struct2 h2 span {
  padding-left: 15px;
}

#checkout #validation ul.struct2 p {
  padding-left: 15px;
  margin-top: 15px;
}

#checkout #validation ul.struct2 p.price {
  color: #3259a0;
  font-weight: bold;
}

/*formular*/
#checkout #validation .formfield {
  margin-bottom: 9px;
}

#checkout #validation .formfield label {
  cursor: pointer;
  width: 100px;
  display: block;
  float: left;
  clear: left;
}

#checkout #validation .formfield label.label-long {
  cursor: pointer;
  width: 510px;
  display: block;
  float: none;
  clear: none;
  margin-left: 25px;
}

#checkout #validation .formfield input.input-checkbox {
  float: left;
  clear: left;
}

#checkout #validation .formbuttons {
	padding-right:180px;
}
#checkout #validation .formbuttons .float-left {
  float: left;
}
#checkout #validation .formbuttons .float-right {
  float: right;
}

#checkout #validation .footer {

}

#checkout #validation .footer .box1 {
  width: 410px;
  float: left;
  text-align: right;
}

#checkout #validation .footer .box2 {
  margin-left: 410px;
  text-align: right;
  width: 147px;
  color: #3259a0;
}

#checkout #validation .footer h3 {
  font-size: 16px;
  font-weight: bold;
}

#checkout #validation #item_sum {
  height:auto;
  margin-bottom:20px;
}

#checkout #validation #item_sum .text {
  padding-top:0px;
}

#checkout #validation #item_sum .prices {
  padding-top:0px;
}

/* ###### STEP 7 ###### */
#checkout #confirmation div,#checkout #confirmation span,#checkout #confirmation h1,#checkout #confirmation h2,#checkout #confirmation h3,#checkout #confirmation h4,#checkout #confirmation h5,#checkout #confirmation h6,#checkout #confirmation p,#checkout #confirmation a,#checkout #confirmation img,#checkout #confirmation ul,#checkout #confirmation ol,#checkout #confirmation li
  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

#checkout #confirmation {
  width: 769px;
  font-family: arial;
  font-size: 13px;
  color: #212121;
  padding-bottom: 30px;
}

#checkout #confirmation a,a:link {
  color: #3a98d4;
  text-decoration: underline;
}

#checkout #confirmation a:hover {
  color: #3a98d4;
  text-decoration: underline;
}

#checkout #confirmation a:visited {
  color: #3a98d4;
  text-decoration: underline;
}

#checkout #confirmation a:active {
  color: #3a98d4;
  text-decoration: underline;
}

#checkout #confirmation h4 a,a:link {
  color: #3a98d4;
  text-decoration: none;
}

#checkout #confirmation h4 a:hover {
  color: #3a98d4;
  text-decoration: none;
}

#checkout #confirmation h4 a:visited {
  color: #3a98d4;
  text-decoration: none;
}

#checkout #confirmation h4 a:active {
  color: #3a98d4;
  text-decoration: none;
}

/* ######## headline ######### */
#checkout #confirmation #headline {
  height: 140px;
}

#checkout #confirmation #headline img {
  padding-top: 37px;
  float: left;
}

#checkout #confirmation #headline h1 {
  padding-top: 28px;
  padding-left: 45px;
  font-family: Century Gothic, Arial;
  font-size: 36px;
  color: #3259a0;
}

#checkout #confirmation .clear {
  clear: both;
}

#checkout #confirmation .spacer {
  background: url(../images/spacer/dotline_horizontal.gif) repeat-x center left;
  height: 35px;
  line-height: 35px;
  margin-bottom: 9px;
  margin-top: 9px;
}

#checkout #confirmation h1 {
  font-family: Century Gothic, Arial;
  font-size: 24px;
  color: #3259a0;
  margin-bottom: 20px;
}

#checkout #confirmation h2 {
  font-size: 16px;
}

#checkout #confirmation h3 {
  font-weight: bold;
  color: #3259a0;
  font-size: 13px;
}

#checkout #confirmation .box {
  width: 450px;
  margin-bottom: 15px;
  border: 1px solid #c7e1f7;
  padding: 22px;
}

#checkout #confirmation .box ul {
  list-style-image:
    url(../images/checkout/shopcart/bullet.gif);
  margin-left: 15px;
}

#checkout #confirmation .container {
  width: 377px;
}

#checkout #confirmation .container-body {
  border: 1px solid #a1cdf2;
}

#checkout #confirmation .container-body img {
  border-right: 1px solid #a1cdf2;
  float: left;
}

#checkout #confirmation .container-text {
  padding: 15px;
  margin-left: 180px;
}

#checkout #confirmation .container-text h4 {
  height: 60px;
  color: #3a98d4;
  font-size: 24px;
  line-height: 24px;
}

#checkout #confirmation .container-text p {
  line-height: 18px;
}

#checkout #confirmation .left {
  float: left;
  clear: left;
}

#checkout #confirmation .right {
  float: right;
  clear: right;
}

/* ################# direct #################### */
#basket_left #direct {
  height: 93px;
  width: 181px;
}

#basket_left #direct img {
  padding-top: 30px;
}