/* Colorscheme 4 */

.colorscheme4 .NavigationBox div.Wrapper h2 a{
  color:#F88000;
}
#pagenavigation.homenav a {
  color:#F88000;
}
#pagenavigation.homenav #square {
  background-color:#F88000;
}
#pagenavigation.homenav .block .headline {
  color:#F88000;
}

