.greyed
{
	color:#999 !important;
}

div#GSLayer
{
	width: 740px;
	position: relative;
}

div#GSPositionRight {}
div#GSPositionLeft {}

div.GSBackground
{
	position: absolute;
	top: 20px;
	overflow:hidden;
	z-index:-1;
}

div.GSBackground img
{
	margin:0;
	padding:0;
	z-index:-1;
}


div#GSPositionRight div.GSBackground { left: 20px; }
div#GSPositionLeft div.GSBackground { right: 20px; }

div.GSContent
{
	margin:20px 0;
	position:static;
	z-index:10;
}

div#GSPositionRight div.GSContent { float: right; }
div#GSPositionLeft div.GSContent { float: left; }

div.GSContent .Error,
div.GSContent .Error td
{
	font-weight:bold;
}

div.GSContent h1
{
	font-size:24px;
	font-weight:400;
	color:#3A98D4;
	margin:0 0 8px 0;
}

div.GSBox
{
	margin:0 0 15px 0;
}

div.GSBox textarea,
table.formtable textarea
{
	width:300px;
	height:80px;
	border:1px solid #CCC;
	padding:5px;
}

div#GSLayer span.BlockLink a,
div#GSLayer span.BlockLinkLeft a,
div.GSFooter span.BlockLink a,
div.GSFooter span.BlockLinkLeft a
{
	margin:0;
	color:#3A98D4;
	background-color:#C7E1F7;
	background-repeat:no-repeat;
}

div#GSLayer span.BlockLink a,
div.GSFooter span.BlockLink a
{
	background-image:url(../images/arrow/gs_arrow_right.gif);
}

div#GSLayer span.BlockLinkLeft a,
div.GSFooter span.BlockLinkLeft a
{
	background-image:url(../images/arrow/gs_arrow_left.gif);
}

div.GSBox input
{
	width:auto !important;
	height:auto !important;
	margin:0;
}

div.GSBox td
{
	vertical-align:top;
	padding:0 0 5px 0;
}

table.formtable td.VTop
{
	vertical-align:top;
}

a.GSFooterLink
{
	display:block;
	margin:0 15px 0 0;
	float:left;
	width:300px;
	height:20px;
}

table.formtable td td{vertical-align:middle;padding:0}
table.formtable td input{width:159px;border:1px solid #d3d3d3}
table.formtable td input.Radio{margin:0;width:auto;border:0}
table.formtable td input.small2{width:29px}
table.formtable td input.small3,
table.formtable td input.small4,
table.formtable td input.small5{width:44px}
table.formtable td.Error input{border-color:#da2131}
table.formtable td.pright {
    padding-right: 10px;
    vertical-align: middle;
}

table.formtable td {
    padding: 0 0 10px;
    vertical-align: middle;
}

.pright {
    padding-right: 15px !important;
}

.hidden {
    display: none;
    visibility: hidden;
}

#GS-Subnavigation {
		padding: 11px 0pt 0pt;width:700px;float:left;font-family: 'Lucida Grande',Tahoma,sans-serif;
    margin-top: -10px;
    display:block;
    float:left;
    font-family: 'Lucida Grande',Tahoma,sans-serif;
}

a.BlockLink {
    background-image: url("../images/arrow/BlockLinkArrowBlue.gif");
    background-position: 0 4px;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 0 0 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #3A98D4;
}
span.BlockLinkLeft {
    clear: left;
}

.mright {
    margin-right: 15px;
}

div.GSFooter span.BlockLinkLeft a {
    background-image: url("../images/arrow/gs_arrow_left.gif");
}

.FLeft {float:left;}

span.BlockLink a, span.BlockLinkLeft a, span.GlobalBlockLink a, span.GlobalBlockLinkLeft a {
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 3px 5px 4px 30px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.nm-no-top-left
{
	top: 0px !important;
	left: 0px !important;
}
