#naviNav {
}

.navigation {
	z-index: 1000;
	padding-top: 13px;
	font-size: 0px;
	line-height: 0px;
}

.navigation .end {
	float: right;
}

.navigation ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	list-style-image: none;
}

.navigation li {
	float: left;
	list-style-type: none;
	list-style-image: none;
	width: auto;
	height: 34px;
}

/* ################## point ################# */
.navigation .point {
	width: 9px;
}

.navigation .point div {
	width: 3px;
	height: 3px;
	overflow: hidden;
	background-color: #3a98d4;
	margin-top: 21px;
	margin-left: 4px;
}

.navigation .point i {
	visibility: hidden;
}

.navigation .point a {
	text-decoration: none;
}

/* ################## navi ################# */
.navigation .navi {
	float: left;
	position: relative;
	z-index: 1;
	padding: 0px;
}

.navigation .navi table {
	margin-bottom: 10px;
}

.navigation .navi a {
	color: #3a98d4;
	height: 34px;
}

/* ################## activ ################# */
.navigation .activ a {
	color: #ffffff;
	height: 34px;
}

.navigation .activ  div a {
	color: #ffffff;
	height: 34px;
	background: transparent;
}

/* ################## inner ################# */
.navigation .navi .inner {
	display: none;
	position: absolute;
	left: 20px;
	top: 0px;
	width: 965px;
	background: #3a98d4;
	padding-bottom: 15px;
	z-index: 500;
	line-height: 20px;
}

.navigation em {
	display: block;
	padding-left: 10px;
	font-family: Arial;
	font-size: 13px;
}

.navigation P {
	padding-bottom: 10px;
	padding-left: 10px;
	width: 183px;
	padding-right: 0px;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
	text-decoration : none;
	line-height: 23px;
}

.navigation EM {
	padding-bottom: 0px;
	font-style: normal;
	padding: 0px 10px 0px 10px;
	display: block;
	font-family : Arial;
	font-size: 13px;
}

.navigation LI p a {
	text-decoration: none;
}

.navigation LI EM A {
	padding-bottom: 0px;
	padding-left: 3px;
	padding-right: 3px;
	display: inline;
	background: none transparent scroll repeat 0% 0%;
	height: 22px;
	color: #ffffff;
	text-decoration: none;
	padding-top: 0px;
}

.navigation LI EM A:hover {
	background-color: #ffffff;
}

.navigation .mehrMarken {
	margin-top: 10px;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 5px;
}

.navigation td {
	background:
		url(../images/navigation/dot_flyout.gif)
		no-repeat right 18px;
}

.navigation td.simple {
	background: none;
}

.navigation_spacer {
	height: 13px;
}