@charset "utf-8";
/* CSS Document */
body,div,h1,h2,h3,h4,h5,h6,p,ul,ul li,img,form{ margin:0; padding:0; border:0;}
body { font:13px Arial, Helvetica, sans-serif;}

/* header */
.h { width:965px; height:108px; margin:0 auto; background:url(/images/bg_h.gif) no-repeat left 3px; position:relative; z-index:100}
.h_logo { width:150px; height:60px; position:absolute; left:15px; top:35px;}
.h_search { position:absolute; left:193px; top:70px; font:13px Arial, Helvetica, sans-serif; color:#3259a0;}
.h_search input { border:solid 1px #989898; color:#000;}
.h_search label { margin:0 5px 0 0}
.h_search .search_img { width:22px; height:22px;}
.h_search .search_text { height:18px; margin:0 5px 0 0; padding:2px; width:175px}
.h_cart { width:135px; height:20px; position:absolute; left:589px; top:37px; display:block; color:#FFF; text-decoration:none; padding:30px 0 0 40px; font-size:11px; line-height:180%}
.h_cart a { color:#FFF; text-decoration:none; font-size:11px; line-height:180%}
.h_cart a:hover { text-decoration: underline; }
.h_i_like { display:block; left:590px; top:8px; position:absolute; font-size:11px; color:#3259a0; height:18px; padding:0 0 0 122px; text-decoration:none;}
.h_i_like:hover { background:url(/images/bg_h.gif) no-repeat -590px -110px;}
.h_my_otto { position:absolute; left:792px; top:37px; width:150px; height:30px; overflow:hidden; text-indent:-2000px; display:block;}
.h_my_otto:hover { background:url(/images/bg_h.gif) no-repeat -792px -139px;}
.h_sign_in { position:absolute; left:796px; top:75px; display:block; font-weight:bold; color:#3259a0; text-decoration:none;}
.h_sign_in:hover {text-decoration: underline;}
#h_service { position:absolute; left:786px; top:5px; width:179px; height:21px;}
#h_service .title { display:block; height:21px; overflow:hidden; text-indent:-2000px;}
#h_service .title:hover, #h_service .title_current { background:url(/images/bg_h.gif) no-repeat -786px -107px}
#h_service div { border:solid 1px #99ccff; border-top: dashed 1px #3399cc; background:#FFF; padding:5px; display:none;}
#h_service div a { display:block; color:#3259a0; text-decoration:none; padding:2px 3px;}
#h_service div a:hover { color:#3399cc; background:#c7e1f7; font-weight:bold;}

#h_about { width:178px; height:21px; display:block; position:absolute; right:0px; top:0px; z-index:10; }
#h_about .t { display:block; height:21px; overflow:hidden; text-indent:-2000px;}
#h_about .t:hover, #h_about .t_current { background:url(/images/bg_about_bar.gif) no-repeat -787px -20px }
#h_about div { border:solid 1px #99ccff; border-top: dashed 1px #3399cc; background:#FFF; padding:5px; display:none;}
#h_about div a { display:block; color:#3259a0; text-decoration:none; padding:2px 3px;}
#h_about div a:hover { color:#3399cc; background:#c7e1f7; font-weight:bold;}

.hr { background:url(/images/bg_hr.gif) repeat-x left 2px; height:5px; clear:both; font-size:5px; line-height:5px}
.hr_all { width:965px; margin:0 auto;}

/* global menu */
.glob_menu { width:965px; margin:5px auto; position:relative; z-index:99}
.glob_menu li { font-size:21px; list-style:none; float:left; height:35px;}
.glob_menu li a { display:block; float:left; height:35px; overflow:hidden; background:url(/assets/otto-by/images/globmenu/glob_menu.gif); text-indent:-2000px;}
.glob_menu li.a_li { background:url(/assets/otto-by/images/globmenu/glob_menu.gif); width:9px}

.glob_menu a.a_1 { width:156px; background-position:0px 0px; margin:0 10px 0 0; _margin:0 5px 0 0;}
.glob_menu a.a_1:hover, .glob_menu #a_1.current { background-position:0px -52px;}
.glob_menu_page a.a_1 { background-position:0px -100px;}
.glob_menu li.a_1 { background-position:-162px 0px;}
.glob_menu ul #a_1 div li#spacer {left: 99px; width: 112px;}
.bg_color_1 { background:#da2031 !important;}
.bg_color_1 li.title { background:#da2031 !important;}
.bg_color_1 a:hover { color:#da2031 !important;}

.glob_menu a.a_2 { width:157px; background-position:-176px 0px; margin:0 10px; _margin:0 5px;}
.glob_menu a.a_2:hover, .glob_menu #a_2.current { background-position:-176px -52px;}
.glob_menu_page a.a_2 { background-position:-176px -100px;}
.glob_menu li.a_2 { background-position:-339px 0px;}
.bg_color_2 { background:#3a98d4 !important;}
.bg_color_2 li.title { background:#3a98d4 !important;}
.bg_color_2 a:hover { color:#3a98d4 !important;}

.glob_menu a.a_3 { width:151px; background-position:-351px 0px; margin:0 10px; _margin:0 5px;}
.glob_menu a.a_3:hover, .glob_menu #a_3.current { background-position:-351px -52px;}
.glob_menu_page a.a_3 { background-position:-351px -100px;}
.glob_menu li.a_3 { background-position:-508px 0px;}
.bg_color_3 { background:#f88000 !important;}
.bg_color_3 li.title { background:#f88000 !important;}
.bg_color_3 a:hover { color:#f88000 !important;}

.glob_menu a.a_4 { width:223px; background-position:-521px 0px; margin:0 10px; _margin:0 5px;}
.glob_menu a.a_4:hover, .glob_menu #a_4.current { background-position:-521px -52px;}
.glob_menu_page a.a_4 { background-position:-521px -100px;}
.glob_menu li.a_4 { background-position:-750px 0px;}
.bg_color_4 { background:#bf2f7f !important;}
.bg_color_4 li.title { background:#bf2f7f !important;}
.bg_color_4 a:hover { color:#bf2f7f !important;}

.glob_menu a.a_5 { width:67px; background-position:-763px 0px; margin:0 10px; _margin:0 5px;}
.glob_menu a.a_5:hover, .glob_menu #a_5.current { background-position:-763px -52px;}
.glob_menu_page a.a_5 { background-position:-763px -100px;}
.glob_menu li.a_5 { background-position:-836px 0px;}
.bg_color_5 { background:#11a3a1 !important;}
.bg_color_5 li.title { background:#11a3a1 !important;}
.bg_color_5 a:hover { color:#11a3a1 !important;}

.glob_menu a.a_6 { width:65px; background-position:-848px 0px; margin:0 0 0 11px; _margin:0 0 0 5px;}
.glob_menu a.a_6:hover, .glob_menu #a_6.current { background-position:-848px -52px;}
.glob_menu_page a.a_6 { background-position:-848px -100px;}
.glob_menu li.a_6 { display: none; }
.bg_color_6 { background:#fe297a !important;}
.bg_color_6 li.title { background:#fe297a !important;}
.bg_color_6 a:hover { color:#fe297a !important;}

.glob_menu a.a_7 { width:192px; background-position:-937px 0px; margin:0 4px 0 0; _margin:0 2px 0 0;}
.glob_menu a.a_7:hover, .glob_menu #a_7.current { background-position:-937px -52px;}
.glob_menu_page a.a_7 { background-position:-937px -100px;}
.glob_menu li.a_7 { background-position:-1135px 0px;}
.bg_color_7 { background:#7b0083 !important;}
.bg_color_7 li.title { background:#7b0083 !important;}
.bg_color_7 a:hover { color:#7b0083 !important;}

.glob_menu a.a_8 { width:177px; background-position:-1148px 0px; margin:0 3px; _margin:0 1px;}
.glob_menu a.a_8:hover, .glob_menu #a_8.current { background-position:-1148px -52px;}
.glob_menu_page a.a_8 { background-position:-1148px -100px;}
.glob_menu li.a_8 { background-position:-1331px 0px;}
.bg_color_8 { background:#3259a0 !important;}
.bg_color_8 li.title { background:#3259a0 !important;}
.bg_color_8 a:hover { color:#3259a0 !important;}

.glob_menu a.a_9 { width:83px; background-position:-1345px 0px; margin:0 3px; _margin:0 2px;}
.glob_menu a.a_9:hover, .glob_menu #a_9.current { background-position:-1345px -52px;}
.glob_menu_page a.a_9 { background-position:-1345px -100px;}
.glob_menu li.a_9 { background-position:-1434px 0px;}
.bg_color_9 { background:#7f9a01 !important;}
.bg_color_9 li.title { background:#7f9a01 !important;}
.bg_color_9 a:hover { color:#7f9a01 !important;}

.glob_menu a.a_10 { width:210px; background-position:-1446px 0px; margin:0 3px; _margin:0 1px;}
.glob_menu a.a_10:hover, .glob_menu #a_10.current { background-position:-1446px -52px;}
.glob_menu_page a.a_10 { background-position:-1446px -100px;}
.glob_menu li.a_10 { background-position:-1662px 0px;}
.bg_color_10 { background:#7f9a01 !important;}
.bg_color_10 li.title { background:#7f9a01 !important;}
.bg_color_10 a:hover { color:#7f9a01 !important;}

.glob_menu a.a_11 { width:240px; background-position:-1674px 0px; margin:0 0 0 4px; _margin:0 0 0 2px;}
.glob_menu a.a_11:hover, .glob_menu #a_11.current { background-position:-1674px -52px;}
.glob_menu_page a.a_11 { background-position:-1674px -100px;}
.glob_menu li.a_11 { display: none; }
.bg_color_11 { background:#76b7e1 !important;}
.bg_color_11 li.title { background:#76b7e1 !important;}
.bg_color_11 a:hover { color:#76b7e1 !important;}

.glob_menu a.a_12 { width:88px; background-position:-1939px 0px; margin:0 6px 0 0; _margin:0 3px 0 0;}
.glob_menu a.a_12:hover, .glob_menu #a_12.current { background-position:-1939px -52px;}
.glob_menu_page a.a_12 { background-position:-1939px -100px;}
.glob_menu li.a_12 { background-position:-2033px 0px;}
.bg_color_12 { background:#76b7e1 !important;}
.bg_color_12 li.title { background:#76b7e1 !important;}
.bg_color_12 a:hover { color:#76b7e1 !important;}

.glob_menu a.a_13 { width:80px; background-position:-2052px 0px; margin:0 6px; _margin:0 3px;}
.glob_menu a.a_13:hover, .glob_menu #a_13.current { background-position:-2052px -52px;}
.glob_menu li.a_13 { background-position:-2138px 0px;}
.bg_color_13 { background:#76b7e1 !important;}
.bg_color_13 li.title { background:#76b7e1 !important;}
.bg_color_13 a:hover { color:#76b7e1 !important;}

.glob_menu a.a_14 { width:138px; background-position:-2157px 0px; margin:0 6px; _margin:0 3px;}
.glob_menu a.a_14:hover, .glob_menu #a_14.current{ background-position:-2157px -52px;}
.glob_menu li.a_14 { background-position:-2301px 0px;}
.bg_color_14 { background:#76b7e1 !important;}
.bg_color_14 li.title { background:#76b7e1 !important;}
.bg_color_14 a:hover { color:#76b7e1 !important;}

.glob_menu div { padding:8px 0 13px 8px; width:957px}
.glob_menu div ul { float:left; width:190px; padding:0 0 6px 0;}
.glob_menu div ul:first-child {background:none;}
.glob_menu div ul li { height:auto; line-height:16px !important; padding:4px 8px; float:left; width:160px }
.glob_menu div ul li a { float:none !important; text-indent:0px !important; font-size:13px; color:#FFF; display:block; text-decoration:none; padding:0 3px; height:auto; background:none; line-height:110% !important}
.glob_menu div ul li a:hover { color:#bf2f7f; background:#FFF;}
.glob_menu div ul li.title { font-size:15px; font-weight:bold; padding:8px; width:90% !important;}
.double_ul { width:360px !important;}
.double_ul li { width:160px;}
.glob_menu td { vertical-align:top; background:url(/images/m_li_dot.gif) repeat-y left top; //background:expression(this.previousSibling==null ? 'none' : 'url(/images/m_li_dot.gif) repeat-y left top');}
.glob_menu td:first-child {background:none;}
/*
.glob_menu div { padding:8px 0 13px 8px; width:957px}
.glob_menu div ul { float:left; background:url(/images/m_li_dot.gif) repeat-y left top; width:190px; padding:0 0 6px 0}
.glob_menu div ul:first-child {background:none;}
.glob_menu div ul li { float:none !important; height:auto; line-height:16px !important; padding:0 8px;}
.glob_menu div ul li a { float:none !important; text-indent:0px !important; font-size:13px; color:#FFF; display:inline; text-decoration:none; padding:0 3px; height:auto; line-height:16px !important; background:none;}
.glob_menu div ul li a:hover { color:#bf2f7f; background:#FFF;}
.glob_menu div ul li.title { font-size:15px; font-weight:bold; padding:8px;}
*/
/* menu_page all dot  */
.glob_menu_page li { background-position:-2138px 0px !important;}


.m_up_1, .m_up_2, .m_up_3, .m_up_4, .m_up_5, .m_up_6 { position:absolute; left:0px; top:33px; display:none}
.m_up_7, .m_up_8, .m_up_9, .m_up_10, .m_up_11 { position:absolute; left:0px; top:33px; display:none}
.m_up_12, .m_up_13, .m_up_14 { position:absolute; left:0px; top:66px; display:none}

.about_bar { height:21px; background:url(/images/bg_about_bar.gif); width:965px; margin:3px auto 2px auto; position:relative;}
.about_bar .title { width:575px; height:21px; text-indent:-2000px; display:block; float:left;}
.about_bar .phone { width:125px; height:21px; text-indent:-2000px; display:block; float:left;}
.btn_about { width:178px; height:21px; display:block; text-indent:-2000px; position:absolute; right:0px; top:0px; overflow:hidden;}
.btn_about:hover, .btn_about_current { background:url(/images/bg_about_bar.gif) bottom right;}

/* center */
.center { width:965px; margin:0 auto;}
.l { width:180px; margin:12px 15px 3px 0; float:left;}
.c { width:770px; _width:765px; height:auto; float:left; margin:12px 0; overflow:hidden;}
.c ul li { padding:3px 0 5px 35px; list-style:none; background:url(/images/ico_ul_li.gif) no-repeat 25px 10px;}
.c ol li { padding:3px 0 5px 0;}
.c h2 { font-size:23px; padding:10px 0; font-weight:normal;}
.c h3 { font-size:23px; padding:10px 0; font-weight:normal;}
.c h5 {padding:5px 0; font-size:110%;}
.c .text_style { border:solid 1px #c6e0f7; padding:10px 15px;}
.c p { padding:10px 0 5px 0;}
.c a:hover { text-decoration:none;}
.c_head { height:55px}
.banners_index_promo div { float:left; overflow:hidden;}
.banners_index_promo .b_left { margin:0px 11px 11px 0px;}
.banners_index_promo .b_right{ margin-bottom:11px;}
.img_inline { margin-bottom:-8px;}
.page_intro { height:203px;}

/* foot */
.f { position:relative; width:965px; margin:3px auto; clear:both; height:130px}
.f_cory { text-align:center; margin:0px 0 10px 0;}
.f_menu { background:#a1cdf2; text-align:center; height:22px; padding:0 0 0 30px;}
.f_menu a { background: url(/images/bg_menu_f.gif); margin:0 18px; text-indent:-20000px; display:block; float:left; height:22px; overflow:hidden}
.f .m1 { width:90px; background-position:left top;}
.f .m2 { width:117px; background-position:left -22px;}
.f .m3 { width:93px; background-position:left -44px;}
.f .m4 { width:48px; background-position:left -66px;}
.f .m5 { width:188px; background-position:left -88px;}
.f .m6 { width:163px; background-position:left -110px;}
.f .m1:hover { background-position:-200px top;}
.f .m2:hover { background-position:-200px -22px;}
.f .m3:hover { background-position:-200px -44px;}
.f .m4:hover { background-position:-200px -66px;}
.f .m5:hover { background-position:-200px -88px;}
.f .m6:hover { background-position:-200px -110px;}
.f .h_right { float:right; margin:20px 0 0 0; width:770px; height:30px}
.f .h_left { float:left; margin:20px 0 0 0; width:180px; height:30px}

.left_menu li { list-style:none; margin:5px 0 0 0; }
.left_menu li a { display:block; height:23px; background:url(/images/bg_menu_left_col.gif?updated=20100901); width:180px; text-indent:-2000px; overflow:hidden;}
.left_menu li ul { margin:10px 0 0 0; }
.left_menu li ul li { margin:0 0 0 0; }
.left_menu li ul li a { background: url(/images/m_li.gif) no-repeat left 5px; padding:0px 0px 0px 13px; text-indent:0px; color:#505050; font-weight:bold; font-size:14px; text-decoration:none; width:auto;}
.left_menu li ul li a.current { background: url(/images/m_li.gif) no-repeat 2px -42px; color:#dc2031;}
.left_menu li ul li a:hover { background-position:left -18px !important; color:#dc2031; text-decoration:underline;}
.left_menu li ul li ul { margin:0 0 5px 0; }
.left_menu li ul li ul a { padding:0 0 0 20px; background:none; color:#dc2031; font-weight:normal; font-size:13px; height:17px; width:auto;}

#a_lm_01 { background-position:left top;}
#a_lm_02 { background-position:left -25px !important;}
#a_lm_03 { background-position:left -50px !important;}
#a_lm_04 { background-position:left -75px !important; height:41px !important;}
#a_lm_05 { background-position:left -125px !important;}
#a_lm_06 { background-position:left -150px !important;}
#a_lm_07 { background-position:left -175px !important;}
#a_lm_01:hover { background-position:-180px top;}
#a_lm_02:hover { background-position:-180px -25px !important;}
#a_lm_03:hover { background-position:-180px -50px !important;}
#a_lm_04:hover { background-position:-180px -75px !important; height:41px !important;}
#a_lm_05:hover { background-position:-180px -125px !important;}
#a_lm_06:hover { background-position:-180px -150px !important;}
#a_lm_07:hover { background-position:-180px -175px !important;}
#a_lm_01.current { background-position:-360px top;}
#a_lm_02.current { background-position:-360px -25px !important;}
#a_lm_03.current { background-position:-360px -50px !important;}
#a_lm_04.current { background-position:-360px -75px !important; height:41px !important;}
#a_lm_05.current { background-position:-360px -125px !important;}
#a_lm_06.current { background-position:-360px -150px !important;}
#a_lm_07.current { background-position:-360px -175px !important;}


.left_info_box { font-size:13px; color:#212121; line-height:130%;}
.left_info_box .title { font:22px Arial, Helvetica, sans-serif; color:#b50e26; display:block; padding:10px 0}
.left_info_box .left_pic { float:left; margin:0px 8px 1px 0px;}
.left_info_box a { color:#b50e26;}
.left_info_box b { display:block; padding:0 0 15px 0;}

.btn_start { display:block; width:41px; height:15px; background:url(/images/ico_all.gif) no-repeat left 3px; text-indent:-2000px; overflow:hidden; margin:20px 0 0 0;}
.this_page { color:#FFF; font:23px Arial, Helvetica, sans-serif; width:100%; margin:20px 0 0 0; background:#a1cdf2;}
.this_page td { vertical-align:bottom; height:181px; text-align:center;}
.this_page td div {padding:0 5px 20px 5px;}

.menu_smol { margin:30px 0 30px 0; padding:0;}
.menu_smol li { margin:2px 0 0 0; padding:0; list-style:none; zoom:1 }
.menu_smol li a { display:block; background:url(/images/ico_all.gif) no-repeat 4px -340px; padding:4px 0px 4px 13px; color:#3a98d4; text-decoration:none; line-height:100%;}
.menu_smol li a:hover { background-color:#c7e1f7;}
.menu_smol li a.current { background-color:#c7e1f7; font-weight:bold;}
.menu_smol li ul li { padding:0 0 0 20px}
.c h1 { font:35px "Century Gothic",Arial,sans-serif; color:#3a98d4; padding-bottom:2px}

.pagination { float:right; margin:15px 0 0 0;}
.pagination a { color:#000; margin:0 3px;}
.pagination a:hover { color:#3a98d4; text-decoration: none}
.pagination span { margin:0 3px; color:#3a98d4; font-weight:bold;}
.pagination .back, .pagination .next { display:block; width:22px; height:22px; background:url(/images/ico_all.gif) no-repeat left -50px; text-indent:-200px; overflow:hidden;}
.pagination .next { background-position:left -100px}
.pagination .back:hover { background-position:-50px -50px}
.pagination .next:hover { background-position:-50px -100px}

.sort_by {color:#3a98d4; font-weight:bold; float:left; border:solid 1px #a1cdf2; margin:0 6px 0 0; padding:4px 25px 4px 8px; background:url(/images/ico_all.gif) no-repeat right -238px; position:relative; z-index:2; zoom:1}
.sort_by div { display:none;position:absolute; left:-1px; top:24px;border-bottom:solid 1px #A1CDF2; padding:10px 0 0 0; background: url(/images/t.gif);}
.sort_by div ul { border-top: dashed 1px #999; border-left:solid 1px #A1CDF2;border-right:solid 1px #A1CDF2; background:#FFF;}
.sort_by div li { margin:0; padding:0; list-style:none; background:none;}
.sort_by div li a { display:block; padding:5px 10px 5px 25px; color:#203957; width:160px;}
.sort_by div li a:hover { background-color:#c7e1f7; text-decoration:none;}
.sort_by div li a.top { background-image:url(/images/ico_all.gif); background-position:8px -193px; background-repeat:no-repeat;}
.sort_by div li a.bot { background-image:url(/images/ico_all.gif); background-position:8px -143px; background-repeat:no-repeat;}
.sort_by div li.current a, .sort_by div li.current a:hover { background-color:#c7e1f7; cursor: default; text-decoration:underline;}

.table_catalog { position:relative; z-index:1; zoom:1; clear:both;}
.table_catalog td { text-align:center; vertical-align:top}
.table_catalog td p { width:228px; color:#333; margin:10px 0 0 0}
.table_catalog td p a { color:#333;}
.table_catalog td p a:hover { text-decoration:none}
.table_catalog td p tt { font:13px Arial, Helvetica, sans-serif; display:block;}
.table_catalog td.left { width:35%;}
.table_catalog td.right { text-align:right; width:33%;}
.table_catalog td.right div { float:right; text-align:center}
.table_catalog td.right p { text-align:center; float:right}
.table_catalog td.left .view_product { //float:left;}
.view_product { width:228px; border:solid 1px #c7e1f7; position:relative;}
.view_product th { height:175px; text-align:center}
.view_product td { padding:3px 10px 10px}
.view_product p {position:relative;}
.view_product a{color:#3a98d4; text-decoration:none;}
.view_product a:hover{text-decoration: underline;}
.price_old { text-decoration:line-through;}
.price_new { color:#e23627;}
.view_product .label_discount {position:absolute; top:0px; right:0px; display:block; width:53px; height:53px; text-indent:-2000px; overflow:hidden; background:url(/images/ico_all.gif) no-repeat right -400px}
.table_catalog_on_line { margin:20px 0 0 0;}
.table_catalog_on_line th { width:142px; height:195px; border:solid 1px #d88400;}
.table_catalog_on_line .info { vertical-align:top; padding:0 15px;}
.catalog_on_line_links { margin:10px 0 0 0;}
.catalog_on_line_links a { display:block; padding:0 0 1px 18px; background-image:url(/images/ico_all.gif); background-repeat:no-repeat; font-size:11px;}
.catalog_on_line_links_1{ background-position:left -1397px;}
.catalog_on_line_links_2{ background-position:left -1415px;}
.catalog_on_line_links_3{ background-position:left -1432px;}


.table_catalog_gifts { margin:0px;}
.table_catalog_gifts th { text-align: left; width:25%; height:181px; border:solid 1px #f7c2bd; border-right: none}
.table_catalog_gifts .info {width: 24%; color: #E33423; font-size: 23px; border:solid 1px #f7c2bd; border-left: none; vertical-align:top; padding:10px 15px;}
.table_catalog_gifts .info a { text-decoration: none }
.table_catalog_gifts .info a:hover { text-decoration: underline }



/* CART */
.cart_product, .cart_add_product { border:solid 1px #c7e1f7;}
.cart_product th { width:290px; padding:20px; border-right: dashed 1px #999}
.cart_product td { vertical-align:top;}
.cart_product .title, .cart_add_product .title {font-size:18px; color:#333; margin:20px 0 0 0;}
.cart_product .price, .cart_add_product .price {font-size:15px; color:#505050; font-weight:bold; margin:15px 0 0 0;}
.cart_product .price_old {font-size:15px; text-decoration:line-through; color:#505050; margin:20px 0 0 0;}
.cart_product .price_new {font-size:15px; font-weight:bold; color:#e23627;}
.cart_product .price_new span {font-weight: normal; color:#505050;}

.cart_add_product th { width:180px; height:210px; padding:0 30px 0 0;}
.cart_add_product td { vertical-align:top;}
.btn_go_to_cart { display:block; width:101px; height:23px; background:url(/images/title_cart.gif) left -50px; float:right; text-indent:-2000px; overflow:hidden; margin-right:30px}
.btn_go_to_cart:hover { background-position:left -75px;}

.btn_send_to_friend { display:block; width:135px; height:23px; background:url(/images/title_cart.gif) left -700px; float:left; text-indent:-2000px; overflow:hidden; margin-right:30px}
.btn_send_to_friend:hover { background-position:left -725px;}

.btn_back_to_catalog { display:block; width:160px; height:23px; background:url(/images/title_cart.gif) left 0px; text-indent:-2000px; overflow:hidden; margin:0 0 15px 0;}
.btn_back_to_catalog:hover { background-position:left -25px;}
.btn_to_mail { display:block; width:185px; height:23px; background:url(/images/ico_all.gif) left -1200px; text-indent:-2000px; overflow:hidden;}
.btn_to_mail:hover { background-position: left -1225px;}
.btn_question { display:block; width:23px; height:23px; background:url(/images/ico_all.gif) left -1250px; text-indent:-2000px; overflow:hidden;}


.menu_steps { margin:12px 0 0 0;}
.menu_steps span { display:block; width:auto; height:30px; background-image:url(/images/bg_menu_steeps.gif); text-indent:-2000px; overflow:hidden;}
.menu_steps .first { background-position:left top; height:40px}
.menu_steps .last { background-position:left -190px;}
.menu_steps .step_1 { background-position:left -40px;}
.menu_steps .step_2 { background-position:left -70px;}
.menu_steps .step_3 { background-position:left -100px;}
.menu_steps .step_4 { background-position:left -130px;}
.menu_steps .step_5 { background-position:left -160px;}
.menu_steps .step_1_current { background-position:-200px -40px;}
.menu_steps .step_2_current { background-position:-200px -70px;}
.menu_steps .step_3_current { background-position:-200px -100px;}
.menu_steps .step_4_current { background-position:-200px -130px;}
.menu_steps .step_5_current { background-position:-200px -160px;}

.title_h1_cart { color:#3259a0 !important; padding-left:45px;}
.title_h1_cart_step_1 { background:url(/images/ico_all.gif) no-repeat left -492px;}
.title_h1_cart_step_2 { background:url(/images/ico_all.gif) no-repeat left -542px;}
.title_h1_cart_step_3 { background:url(/images/ico_all.gif) no-repeat left -592px;}
.title_h1_cart_step_4 { background:url(/images/ico_all.gif) no-repeat left -642px;}
.title_h1_cart_step_5 { background:url(/images/ico_all.gif) no-repeat left -692px;}

.alert_smol { border:solid 1px #c7e1f7; padding:20px !important;}
.alert_error { border-color:#e33423; color:#e33423; margin:0 0 15px 0;}
.alert_yellow { border-color:#feebb3;}

.table_products { color:#333; border-bottom:solid 1px #3a98d4;}
.table_products thead td , .table_products thead th  { background:#c7e1f7; padding:5px 8px 5px 8px; color:#32589f; font-size:14px; border-left:solid 2px #FFF; text-align:left; font-weight:normal; text-align:right;}
.table_products thead th  { border-left:none; text-align:left;}
.product_foto { width:110px; text-align:center; vertical-align:top; padding:20px 0 20px 0;}
.product_foto img { border:solid 1px #999}
.product_details { vertical-align:top; padding:20px 0 20px 5px;}
.product_details a { color:#000;}
.product_details a:hover { text-decoration:none;}
.product_col { color:#333; text-align:right; padding:20px; vertical-align:top; width:80px}
.product_price { color:#32589f; text-align:right; padding:20px; vertical-align:top; font-weight:bold; width:170px;}
.product_details_btn { padding:20px 0 0 0; width:200px;}
.product_details_btn a {display:block; height:18px; width:72px; background-image:url(/images/title_cart.gif); background-repeat:no-repeat; text-indent:-2000px; overflow:hidden;}
.btn_cart_del { float:right; width:63px; background-position:left -352px; }
.btn_cart_del:hover { background-position:left -377px; }
.btn_cart_edit { width:72px; background-position:left -302px; }
.btn_cart_edit:hover { background-position:left -327px; }
.product_total_info, .product_total_price { padding:20px 20px 30px 20px; text-align:right; vertical-align:top;}
.product_total_price { color:#32589f; font-size:18px;}
.product_total_info h2 { font-size:18px; font-weight:normal;}
.product_total_info a { color:#e23627;}
.product_total_info a:hover { text-decoration:none;}
.a_box_bottom { border-top:solid 1px #3a98d4; margin:2px 0 0 0; padding:20px 20px 50px 0;}
.btn_cart_to_cassa { display:block; width:100px; height:23px; background:url(/images/title_cart.gif) no-repeat left -250px; float:right; text-indent:-2000px; overflow:hidden;}
.btn_cart_to_cassa:hover { background-position:left -275px;}
.table_products_login { border-bottom:none; margin:0;}

.btn_registration {display:block; height:23px; width:142px; background:url(/images/title_cart.gif) no-repeat left -100px; text-indent:-2000px; overflow:hidden;}
.btn_registration:hover {background-position:left -125px;}

.btn_logout {display:block; height:23px; width:142px; background:url(/images/title_cart.gif) no-repeat left -649px; text-indent:-2000px; overflow:hidden;}
.btn_logout:hover {background-position:left -674px;}

.btn_recalc {display:block; height:23px; width:142px; background:url(/images/title_cart.gif) no-repeat left -600px; text-indent:-2000px; overflow:hidden;}
.btn_recalc:hover {background-position:left -625px;}

.btn_ili {display:block; height:25px; width:70px; background:url(/images/ico_all.gif) no-repeat left -750px; text-indent:-2000px; overflow:hidden; margin:15px 0 5px 240px}
.btn_sign_in {display:block; height:23px; width:142px; background:url(/images/title_cart.gif) no-repeat left -150px; text-indent:-2000px; overflow:hidden; margin:0px 0px 0px 427px;}
.btn_sign_in:hover {background-position:left -175px;}
.btn_back {display:block; height:23px; width:142px; background:url(/images/title_cart.gif) no-repeat left -200px; text-indent:-2000px; overflow:hidden; margin:20px 0 0 0}
.btn_back:hover {background-position:left -225px;}
.btn_next {display:block; height:23px; width:142px; background:url(/images/title_cart.gif) no-repeat left -400px; text-indent:-2000px; overflow:hidden; margin:20px 0 0 0; text-align:left}
.btn_next:hover {background-position:left -425px;}
.btn_order_ned {display:block; height:23px; width:160px; background:url(/images/title_cart.gif) no-repeat left -550px; text-indent:-2000px; overflow:hidden; margin:20px 0 0 0; text-align:left}
.btn_order_ned:hover {background-position:left -575px;}

.table_in_table { border:solid 1px #c7e1f7; margin:10px 0 0 0; width:575px;}
.table_in_table input { border:solid 1px #7f9db9;}
.table_in_table label { display:block; padding:0 0 5px 0; font-weight:bold;}
.table_in_table .input_error { border:solid 2px #e33423;}
.table_in_table a:hover { text-decoration: none}
.table_products .text_normal { padding:20px;}

/* TABS BOX */
.tabs_box { width:100%; position:relative;}
.tbox_bar ul li { float:left; list-style:none; margin:0 5px 0 0; padding:0; background: none}
.tbox_bar span, .tbox_bar b {display:block; float:left; background-image:url(/images/tbox_bg_tabs.gif);}
.tbox_bar span { background-color:#eaf4fc;}
.tbox_bar b { background-position:right -50px; padding:0 15px; color:#212121; font-weight:normal; line-height:34px; height:34px; cursor:pointer;}
.tbox_bar .current span { background-color:#c6e0f7; background-position:left -100px;}
.tbox_bar .current b { background-position:right -150px; font-weight:bold; color:#3a98d4;}
.tbox_body { clear:both; border:solid 1px #a1cdf2; min-height:250px; _height:250px; width:auto; overflow:hidden; position:relative;}
.tbox_scrolbody {position:absolute; top:0px;}
.tbox_body_tabs .body { padding:20px;}

.table_style_1 th { width:270px; text-align:left; font-weight:normal; font-size:17px; color:#3a98d4;}
.table_style_1 a { color:#3a98d4;}
.table_style_1 a:hover { text-decoration:none}
.table_style_1 .red {color:#e33423; font-size:14px; margin-left:20px}

.table_style_2 td  { vertical-align:top}
.table_style_2 .title  {background:url(/images/bg_hr.gif) repeat-x left bottom;}
.table_style_2 .hr  { background-position:left top;}

/* RED */
.color_red .this_page { background:#e33423;}
.color_red h1, .color_red h3, .color_red h5 {color:#e33423}
.color_red .menu_smol  a {color:#e33423; background-position:4px -790px}
.color_red .menu_smol  a.current, .color_red .menu_smol  a:hover { background-color:#f7c2bd}
.color_red .text_style { border-color:#f7c2bd; padding-top:0px; border-top:none;}
.color_red .table_products { border-bottom:solid 1px #e33423;}
.color_red .table_products thead th, .color_red .table_products thead td { background:#f7c2bd; color:#e33423;}
.color_red .btn_cart_del { background-position:left -500px;}
.color_red .btn_cart_del:hover { background-position:left -525px;}
.color_red a {color:#E33423}
.btn_cart_add {width:63px; background:url(/images/ico_all.gif) no-repeat left -450px; }
.btn_cart_add:hover { background-position:left -475px;}

/* YELLOW */
.color_yellow .this_page { background:#fbb100;}
.color_yellow h1, .color_yellow h3, .color_yellow h2 {color:#d88400}
.color_yellow h2 {color:#fbb100}
.color_yellow .menu_smol  a {color:#d88400; background-position:4px -990px}
.color_yellow .menu_smol  a.current, .color_yellow .menu_smol  a:hover { background-color:#fee7b2}
.color_yellow .text_style { border-color:#feebb3; margin:3px 0 15px 0;}
.color_yellow .c  a {color:#d88400;}

.color_yellow .pagination a { color:#000;}
.color_yellow .pagination span {color:#d88400}
.color_yellow .pagination .back { background-position:-100px -50px;}
.color_yellow .pagination .next { background-position:-100px -100px}
.color_yellow .pagination .back:hover { background-position:-150px -50px}
.color_yellow .pagination .next:hover { background-position:-150px -100px}

.color_yellow .left_menu { margin-top:40px}

.color_yellow .left_menu li ul { margin:10px 0 0 0; }
.color_yellow .left_menu li ul li a.current, .color_yellow .left_menu li ul li a:hover { background: url(/images/m_li_y.gif) no-repeat 2px -42px; color:#d88400;}
.color_yellow .left_menu li ul li ul { margin:0 0 10px 0;}
.color_yellow .left_menu li ul li ul a {color:#d88400;}
.color_yellow .left_menu li ul li ul a.current { background:#fee7b2; cursor:default;}



.form_subscribe .input_text {width:275px; height:19px; border:solid 1px #7f9db9; float:left; margin-right:9px}
.form_subscribe .input_submit {width:90px; height:23px; background:url(/images/ico_all.gif) no-repeat left -850px; float:left;}
.form_subscribe .input_submit:hover { background-position:left -873px; cursor:pointer;}

.form_feedback  .input_text {width:275px; height:19px; border:solid 1px #7f9db9; margin:8px 0; font: 13px Arial, Helvetica, sans-serif;}
.form_feedback  textarea {width:275px; border:solid 1px #7f9db9; margin:8px 0; font: 13px Arial, Helvetica, sans-serif;}
.form_feedback .input_submit {width:125px; height:23px; background:#FEE7B2 url(/images/ico_all.gif) no-repeat left -1100px; margin:8px 0 0 0;}
.form_feedback .input_submit:hover { background-position:left -1150px; cursor:pointer;}
.form_feedback .input_error { border:solid 2px #e33423;}


/* BAYAN */
.bayan_title { background:#fee7b2 url(/images/ico_all.gif) no-repeat 10px -903px; display:block; padding:5px 5px 5px 30px; margin:3px 0 0 0; color:#d88400; font-size:15px; font-weight:normal; cursor:pointer;}
.bayan_title:hover { text-decoration:underline;}
.bayan_title_curret { background-position:10px -943px !important}
.bayan_body {}

.table_by_otto th {width:379px;}
.table_by_otto a { border:solid 1px #f7c2bd; display:block; text-align:left; text-decoration:none; height:179px; font-weight:normal; padding:0 10px 0 0; color:#000;}
.table_by_otto a img { float:left; border-right:solid 1px #f7c2bd; margin:0 15px 0 0;}
.table_by_otto span { color:#e33423; font-size:23px; display:block; padding:17px 0 8px 0}
.table_by_otto a:hover { border-color:#e33423}

.table_reg {}
.table_reg th { width:140px; font-weight:normal; text-align:left; padding:0px 5px 0px 0px;}
.table_reg td {padding:8px 0 5px 0px;}
.table_reg td input { border:solid 1px #7f9db9; width:250px; margin:0 10px 0 0}
.table_reg td select { border:solid 1px#7f9db9; width:252px}

.table_news {}
.table_news th { width:100px; padding:0px 20px 0px 0px; vertical-align:top}
.table_news td { padding:0 0 10px 0}
.table_news th span { display:block; background:#a0d273; border-top:solid 5px #a0d273; border-bottom:solid 5px #a0d273; margin:13px 0 0 0;}

.table_dict {}
.table_dict th { background:#fff3d7; text-align:left;padding:7px 0 7px 20px;}
.table_dict td {padding:4px 0 4px 20px;}

.table_info { width: 100%; }
.table_info th { border-bottom:dashed 1px #999; border-right:dashed 1px #999; width:66px; padding:5px 0}
.table_info td { border-bottom:dashed 1px #999; padding:0 0 0 20px}

.ol_red {}
.ol_red li { list-style:none; padding:0px 0px 10px 0px; background:none;}
.ol_red li span { background:#e23627; color:#FFF; padding:0 4px; margin:0 10px 0 0;}
.ol_red li p { padding:0px 0px 0px 25px}

.style_box_mustard {border:solid 1px #CDB88F; background:#F8F4E9; margin:10px 0px 0px 0px;}
.style_box_mustard p {padding:10px; margin:0;}

.content_tab_3 {border:solid 2px #DAC599; /*width:520px;*/}
.content_tab_3 td {padding:3px 3px 3px 3px; border-bottom:dotted 1px #DAC599; border-right:dotted 1px #DAC599;}
.content_tab_3 th {padding:5px 10px 5px 10px; border-bottom:dotted 1px #DAC599; border-right:dotted 1px #DAC599; background:#F0EAD3;}


.popup {
        	position: absolute;
        	display: none;
        	z-index: 50;
        	border-collapse: collapse;
        	border: 1px solid #7F9DB9;
        	background-color: white;
        	padding: 15px;
        }
 .popup_tips {
            position: relative;
            width: 300px;
        }
/* pop up */
.pop_up_win { position:absolute; top:350px; left:50%; margin-left:-200px; z-index:1000}
.pop_up_win th {border:solid 2px #3a98d4; padding:17px; text-align:left; font-weight:normal; background:#FFF;}
.pop_up_win_r { width:17px; background:url(/images/shadow_r.png); _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/shadow_r.png');}
.pop_up_win_b { height:17px; background:url(/images/shadow_b.png); _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/shadow_b.png');}
.pop_up_win_rb { background:url(/images/shadow_rb.png); _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/shadow_rb.png');}

.userlogged {position: absolute; font-size: 11px; font-weight: bold; top: 7px; color: rgb(50, 89, 160); left: 180px;}

/* MY BILL */
.my_bill_title ul { background:#c6e0f7; height:29px; padding:10px 0px 0px 10px;}
.my_bill_title ul li { list-style:none; float:left; height:29px; background:none; color:#3a98d4; text-decoration:underline; line-height:28px; padding:0px;}
.my_bill_title ul li span { display:block; float:left; padding:0px 10px; cursor:pointer;}
.my_bill_title ul li.current { background:url(/images/bg_my_bill_title.gif) no-repeat left -29px; text-decoration:none; font-weight:bold;}
.my_bill_title ul li.current span { background:url(/images/bg_my_bill_title.gif) no-repeat right top;  cursor:default;}

.tabs_body {padding:20px; zoom:1}
.table_style_3 {}
.table_style_3 th {color:#3a98d4; font-size:15px; text-align:left; font-weight:normal; width:270px; vertical-align:top;}
.table_style_3 td { padding:0 0 15px 0;}

.select_sort { width:180px; float:left; margin:10px 13px 13px 0; zoom:1}
.select_sort .title {text-decoration:none; display:block; background:#c7e1f7 url(/images/ico_li_select.gif) no-repeat right 10px; border:solid 1px #a1cdf2; padding:4px 20px 4px 10px; font-size:12px; font-weight:bold; color:#3a98d4; }
.select_sort div { border:solid 1px #99ccff; border-top: dashed 1px #3399cc; background:#FFF; padding:5px; display:none;}
.select_sort div a { display:block; color:#3259a0; text-decoration:none; padding:2px 3px;}
.select_sort div a:hover { color:#3399cc; background:#c7e1f7; font-weight:bold;}



.table_style_4 { margin:0 0 0 0; border:solid 1px #a1cdf2; width:100%; border-left:none; border-top:none; zoom:1}
.table_style_4 th {color:#3a98d4; font-size:15px; text-align:left; font-weight:normal; padding:4px 0px 4px 10px; border-left:solid 1px #c7e1f7; border-top:solid 1px #a1cdf2;}
.table_style_4 .title td { background:#a1cdf2; border-left:solid 1px #c7e1f7; font-weight:bold; text-align:center; padding:3px 0; color:#FFF; border-top:none;}
.table_style_4 td {border-top:solid 1px #c7e1f7;border-left:solid 1px #c7e1f7; padding:3px 15px;}

.btn_a_print {background:url(/images/bg_btn_print.gif); display:block; width:120px; height:23px; text-indent:-2000px; overflow:hidden; float:right; margin:13px 0 0 0;}
.btn_a_print:hover { background-position:left -23px;}

.a_help {background:url(/images/bg_btn_help.gif) no-repeat left top; padding:0px 0px 0px 17px; float:right; color:#3a98d4 !important; margin:10px 0 0 0;}