<?xml version="1.0"?>
<Settings>
  <Path>
    <Offline>D:\Swim4\Offline\</Offline>
    <Images>D:\Swim4\Images\</Images>
  </Path>
  <Bookers>
    <Booker Id="1" Sign="bwin" Url="https://bwin.com" Title="BWin"/>
    <Booker Id="2" Sign="olymp" Url="https://olympbet.com" Title="Olymp"/>
    <Booker Id="3" Sign="marathon" Url="http://marathonbet.com" Title="Марафон"/>
  </Bookers>
  <Scaners ThreadCount="10" AutoStart="0">
    <Scaner BookerId="1" NeedScan="1"/>
    <Scaner BookerId="2" NeedScan="1"/>
    <Scaner BookerId="3" NeedScan="1"/>
  </Scaners>
</Settings>

