<?xml version="1.0"?>

<Settings>
  <Path>
    <Offline>D:\Swim4\Offline\</Offline>
    <Images>D:\Swim4\Images\</Images>
  </Path>
  <Bookers>
    <Booker Id="1" Sign="bwin" Url="https://bwin.com" Title="BWin" ImgIndex="3"/>
    <Booker Id="2" Sign="olymp" Url="https://olympbet.com" Title="Olymp" ImgIndex="4"/>
    <Booker Id="3" Sign="marathon" Url="http://marathonbet.com" Title="Марафон" ImgIndex="5" Services="1"/>
  </Bookers>
  <Scaners ThreadCount="1" AutoStart="0"/>
  <Services Default="0">
    <Service Id="0" Url="http://otto.by/soap/ScanBooker.php"/>
    <Service Id="1" Url="http://gvindelen.site11.com/soap/ScanBooker.php"/>
  </Services>
  <Proxies>
    <Proxy Id="kvg" Host="proxy.softclub.by" Port="3128"/>
  </Proxies>
</Settings>

