<?xml version="1.0"?>

<Settings>
  <Path>
    <Offline>D:\Swim4\Offline\</Offline>
    <Images>D:\Swim4\Images\</Images>
  </Path>
  <Bookers>
    <Booker Id="1" Sign="bwin" Url="https://bwin.com" Title="BWin" ImgIndex="3"/>
    <Booker Id="2" Sign="olymp" Url="https://olympbet.com" Title="Olymp" ImgIndex="4"/>
    <Booker Id="3" Sign="marathon" Url="http://marathonbet.com" Title="Марафон" ImgIndex="5"/>
  </Bookers>
  <Scaners ThreadCount="10" AutoStart="0">
    <Scaner BookerId="1" NeedScan="1"/>
    <Scaner BookerId="2" NeedScan="1"/>
    <Scaner BookerId="3" NeedScan="1"/>
  </Scaners>
  <Services Default="0">
    <Service Default="0" Url="http://localhost:8080/soap/ScanBooker.php"/>
  </Services>
</Settings>

